# Set the default behavior for all files
* text=auto

# Explicitly declare files that should always have LF line endings on checkout.
*.js text eol=lf

# Explicitly declare files that should always have CRLF line endings on checkout.
*.css text eol=crlf
